<h1> Bienvenidos al chat comunitario </h1>
{{!-- dejar el mensaje --}}
<input type="text" id="chatBox">

<p id="messagesLogs"></p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>
{{!-- siempre ultimo para que no haya error --}}
